*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a
{
    cursor: pointer;
}
body
{
    padding-right: 0 !important
}
#mobile-nav
{
    display: none;
}
.navbar-toggler
{
    border:none;
}
.navbar-toggler:focus
{
    outline:none;
}

.banner
{
    background: transparent url(https://s.udemycdn.com/mobile/default-banner.jpg) center top no-repeat;
    color:white;
    padding-bottom: 12rem;
}
.banner h1
{
    padding: 4.5rem 2.5rem 4.5rem 2.5rem;
    font-weight:100;
    font-size:3rem;
}
.banner .list 
{
    padding:1.2rem 4rem 1.2rem 4rem;
    margin-bottom:0.2rem;
    font-size:1.4rem;
    width:50%;
}
.banner .list ul
{
    padding-left:1.5rem;
}
.banner .app-link
{
    padding-left:5rem;
}
footer .business
{
    font-size:1.2rem;
    font-weight: bold;
    border-bottom:1px solid grey;
}
footer .business .content
{
    padding: 1rem 2.7rem 0.5rem 2.7rem;
    margin-top:0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
footer .business .content .text
{
    width:40%;
    line-height: 1;
}
footer .business .content .partner-logo
{
    margin-left:10rem;
}
footer .business .content .partner-logo img
{
    margin-left:9px;
}
footer li a
{
    font-size:0.9rem;
    color:#007791;
}
footer a
{
    color:#007791;
}
footer a:hover
{
    color:#29303b;
}
footer .links
{
    padding: 1rem 2.7rem 1.5rem 2.7rem;
}

footer li
{
    padding-bottom:0.3rem;
}
.footer-cr
{
    padding: 2rem 2.7rem 2rem 2.7rem;
}
.footer-cr p
{
    font-size:0.7rem;
    color:grey;
}
.custom-select
{
    width:15rem;
    height:2.5rem;
    font-size:0.9rem;
    border:1px solid #000000;
}
.custom-select:focus
{
    outline:none;
    box-shadow: none;
    border:1px solid #000000;
}
nav .nav-item
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.nav-item .form-control
{
    width:25rem;
    border-radius: 50px;
    border: 1px solid #29303b;
}
nav .nav-link
{
    font-size:0.9rem;
    color:#29303b;
}
nav .btn
{
    width:6rem;
    font-weight: bold;
}
.signup
{
    background-color: #007791;
}
.login
{
    border: 1px solid #007791;
}
.btn:focus
{
    outline:none;
    box-shadow: none; 
}
.display-business,.display-teach,.display-shop
{
    width:300px;
    height:150px;
    position:absolute;
    left:41%;
    background-color:white;
    padding:1rem;
}
.display-teach
{
    left:52%;
}
.display-business p,.display-teach p  
{
    font-size: 1.2rem;
    line-height:1;
    font-weight: bold;
}
.display-business .btn,.display-teach .btn
{
    color:white;
    background-color: #007791;
    margin-top:1rem;
    font-weight: bold;
}
.display-shop
{
    height:100px;
    left:55.5%;
}

@media screen and (max-width:1200px)
{
    footer .business .content
{
    padding: 1rem 2rem 1rem 2rem;
    margin-top:0.5rem;
    display:flex;
    flex-direction: column;
}
.udemy-business
{
    display:none;
}
footer .business .content .text
{
    width:100%;
}
footer .business .content .partner-logo
{
    margin-left:0;
}
footer .business .content .partner-logo img
{
    margin-left:9px;
}
.banner
{
    padding-bottom: 5rem;
}
.nav-item .form-control
{
    width:20rem;
}
}
@media screen and (max-width:992px)
{
    .banner
{
    padding-bottom: 2rem;
}
.udemy-teach
{
    display:none;
}
.nav-item .form-control
{
    width:15rem;
}
.banner h1
{
    font-size:2.2rem;
}
}
@media screen and (max-width:768px)
{
    #desktop-nav
    {
        display:none;
    }
    #mobile-nav
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #mobile-nav .icons .search,#mobile-nav .icons .shop
    {
        margin-right:1rem;
    }
    .modal-dialog
{
    max-width:100%;
    padding:0;
    margin:0;
    height:5rem;
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1050; 
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden; 
    padding-top: 6px; 
    transition: 0.3s;
  }
  .sidenav a {
    padding: 6px 8px 8px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    transition: 0.1s;
  }
  .closebtn i{
    position: absolute;
    top: 0.5rem;
    left:18rem;
    margin-left: 20px;
    transition:0.3s;
    padding:1rem;
    width:50px;
    height:50px;
    background-color: #f1f1f1;
    border-radius: 50%;
  }
  .sidenav .log
  {
      color:#007791;
  }
  .sidenav .log,.sidenav .popular
  {
      padding-bottom:4px;
      border-bottom:1px solid rgba(0,0,0,0.2);
      
     
  }
  .sidenav .popular,.sidenav .contact
  {
    padding-top: 12px;
    color:#29303b;
  }
  .sidenav .popular span,.sidenav .contact span
  {
      padding-left: 14px;
      font-weight: bold;
      font-size: 0.8rem;
  }
  .sidenav .contact
  {
      padding-bottom: 2.5rem;
  }
    
}
@media screen and (max-width:750px)
{
    .banner
{
    background: #00576b;
    text-align: center;
}
.banner h1
{
    padding: 2rem 0.5rem 2rem 0.5rem;
    font-size: 1.9rem;
}
.banner .list 
{
    padding:1rem;
    margin-bottom:0.2rem;
    font-size:1.2rem;
    width:100%;
}
.banner .list ul
{
    padding-left:0;
    list-style: none;
}
.banner .app-link
{
    padding-left:0;
}
footer .links
{
    padding:0 1.2rem 1.2rem 1.2rem;
}
#first {
    order: 1;
    margin-bottom: 0.5rem;
}
#second {
    order: 2;
}
#third {
    order: 3;
}
#fourth {
    order: 4;
}
.footer-cr
{
    padding:0.5rem 1.2rem 0.5rem 1.2rem;
}
.footer-cr p
{
    font-size:0.7rem;
    margin-top: 1rem;
    color:grey;
}
footer .business .content .partner-logo img
{
    margin-right:3px;
    margin-left: 0;
    margin-top: 18px;
}

}